.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  display: inline-block;
  width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 1px solid black;
  padding: 20px 20px 20px 20px;
  position: relative;
  margin: 10px;
}

.title {
  font-weight: bold;
  font-size: 15pt;
  text-align: left;
}

.badge {
  background-color: #5693F6;
  color: white;
  font-size: 10pt;
  width: 90px;
  padding: 2px;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  top: 20px;
}

.author {
  color: #A0A5AF;
  text-align: left;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.table th {
  width: 100px;
}

.table td {
  overflow:hidden;
	white-space : nowrap;
	text-overflow: ellipsis;
  }