.userInfo {
  text-align: center;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 70%;
  margin-bottom: 10px;
}

.myList {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}