.term {
    display: flex;
    margin-right: auto;
    margin-left: 0;
}

.WholeBox {
		display: grid;
		place-content: center;
}

.ContentBox {
    border-radius: 7%;
    border: 1px solid black;
		min-width: 470px;
    padding: 30px 30px 30px 30px;
}

.items {
    display: inline;
}

.btnArea1 {
	display: inline-flex;
	margin-top: 10px;
	float: right;
}
.btn.btn-danger {
	margin-left: 5px;
}
.btn.btn-secondary {
	margin-right: 5px;
}

.btnArea2 {
	display: inline-flex;
	margin-top: 10px;
	float: right;
}

table {
  width : 100%;
}

.detail_table tr {
  border-bottom : 1px solid gray;
}

.detail_table td {
  padding : 10px;
}

.author {
  color: #A0A5AF;
  text-align: left;
}